body, .info1 {
    background: #d6cea6!important;
}
.info1, .info2 {
    min-height: 500px;
}
.info2 {
    background: #2f4f4f;
}

p, h1, h2, h3, h4, h5, .view {
    font-family: 'Roboto Mono', monospace;
    color: #FAEBD7;
}
h3, h4 {
    color: #2f4f4f;
}

h1 {
    font-size: 60px;
}
/* bootstrap will overide the custom css without the !important */
h2,
h3 {
    font-weight: 900!important;
    font-size: 120px!important;
    -webkit-text-fill-color: transparent!important;
    -webkit-text-stroke: 5px #FAEBD7;
    /* this overlap is intentional */
    position:relative;
    bottom: 40px;
}

h3 {
    -webkit-text-stroke: 5px #2f4f4f;
}

/* bootstrap will overide the custom css without the !important */
h4,
h5 {
    margin: 0px 100px 50px 100px;
    font-size: 20px!important;
}

.row {
    padding-bottom: 48px;
}

.uk-button-default {
    background-color: transparent;
    color: #333;
    border: none;
    position: fixed;
}

.uk-offcanvas-bar {
    background: #2f4f4f;
}

.hero, .banner {
    min-height: 900px;
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner {
    min-height: 300px;
}
.pageTitle {
    margin-top: 220px;
}

/* bootstrap will overide the custom css without the !important */
.profile-img {
    max-width: 200px!important;
    width: 100%!important;
    height: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.img-thumbnail {
    border: none;
}

.thumb {
    object-fit: cover;
    vertical-align: middle;
    margin: 10px;
    width: 130px;
    height: 130px!important;;
}
/* bootstrap will overide the custom css without the !important */
.view {
    color: #000;
    background-color: #FAEBD7!important;
    border: 1px solid #faead7!important;
    margin: 10px;
}

@media (max-width: 576px) {

    h2,
    h3 {
      font-size: 53px!important;
      font-weight: 500!important;
      -webkit-text-stroke: 3px!important;
      bottom: 20px!important;
    }

    h4,
    h5 {
      margin: 0px 20px 50px 20px;
    }
}