html {
    height: 100%;
}
body {
    min-height: 100%;
}

body, .info1 {
    background: #F2F3F5!important;
}
.info1, .info2 {
    min-height: 500px;
}
.navbar, .info2 {
    background: #003055;
}

p, h1, h2, h4, h5, .navbar-nav, .navbar-light, .navbar-brand, .nav-link, .view-btn {
    font-family: 'Roboto Mono', monospace;
    color: #F2F3F5;
}
.navbar-light, .navbar-brand, .nav-link {
    color: #F2F3F5!important;
}
h4 {
    color: #003055;
}

h1 {
    font-size: 60px;
}
/* bootstrap will overide the custom css without the !important */
h2 {
    font-weight: 900!important;
    font-size: 120px!important;
    line-height: 120px!important;
    -webkit-text-fill-color: transparent!important;
    -webkit-text-stroke: 5px #ff4000;
    /* this overlap is intentional */
    position:relative;
    bottom: 30px;
    text-shadow: 8px 8px #21252917;
}

/* bootstrap will overide the custom css without the !important */
h4,
h5 {
    margin: 0px 100px 50px 100px;
    font-size: 20px!important;
}

.row {
    padding-bottom: 48px;
}
.navbar-nav {
    line-height: 2.5;
}
.navbar-toggler {
    border-color: #ff4000!important;
}
.hero, .banner {
    min-height: 900px;
    background-image: linear-gradient(
      to bottom,
      #0030557e,
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner {
    min-height: 300px;
}
.circle {
    max-width: 25px;
    float: left;
}
.pop{
    z-index: 1040;
    position: fixed;
    top: 60px;
    left: 40%;
    max-height: 25px;
}
.social-icon {
    height: 40px;
    width:auto;
    margin:10px 20px 10px 0px;
}

.pageTitle {
    margin-top: 220px;
}

.profile-img {
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #ff4000;
}

.thumb {
    /* padding: .25rem;
    background-color: #fff; */
    /* border: 1px solid #dee2e6; */
    max-width: 100%;
    object-fit: cover;
    vertical-align: middle;
    margin: 10px;
    width: 130px;
    height: 130px;
}
/* bootstrap will overide the custom css without the !important */
.view-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529!important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #ff4000;
    border: 1px solid #ff4000;
    margin: 10px;
}
.pushFooter {
    padding-bottom:30%;
}
footer {
    background-color: #003055;
    padding: 20px;
    border-top: 3px solid #ff4000;
    color:#F2F3F5;
    font-style: italic;
    font-size: 12px;
}

@media (max-width: 576px) {

    h2 {
      font-size: 53px!important;
      line-height: 53px!important;
      font-weight: 500!important;
      -webkit-text-stroke: 3px #ff4000!important;
      bottom: 12px!important;
    }

    h4,
    h5 {
      margin: 0px 20px 50px 20px;
    }
    .hideOnMobile {
        display:none!important;
    }
}
